<h2>Create a new user</h2>

<article>
  <!--
    The form layout is different from the spec, because with a natural tab order, the user would
    enter name, then first password, then exipry date, then second password. Having the two
    passwords in the same row ensures the first password is immediately followed by the second.

    An alternate approach would be to change the layout or tab order so the user tabs on all the
    input fields of the first column and then on the second, but that would degrade the UX, as it
    breaks the end-user expectations.
   -->
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <!-- User name -->
      <label-input-val label="Name" [formGroup]="userForm" formControlName="userName" />
      <!-- Expiry date -->
      <label-input-val
        label="Expiration Date"
        [formGroup]="userForm"
        formControlName="expDate"
        type="date"
      />
    </div>

    <div class="form-row">
      <!-- Password -->
      <label-input-val
        label="Password"
        [formGroup]="userForm"
        formControlName="password1"
        type="password"
      />
      <!-- Repeat password -->
      <label-input-val
        label="Repeat Password"
        [formGroup]="userForm"
        formControlName="password2"
        type="password"
      />
    </div>

    <div class="form-row">
      <!-- Enabled -->
      <label-input-val
        label="Enabled"
        [formGroup]="userForm"
        formControlName="enabled"
        type="checkbox"
      />
    </div>
    <div class="button-row">
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</article>
