<h2>Create a new user</h2>

<article>
  <!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()"> -->
  <!--
    The form layout is different from the spec, because with a natural tab order
    the user would enter name, then first password, then exipry date, then second
    password. Having the two passwords in the same row ensures the first password
    is immediately followed by the second.
    The alternate approach would be to change the layout or tab order so the user
    tabs on the first column and then on the second, but that would degrade the UX.
   -->
  <form>
    <div class="form-row">
      <!-- User name -->
      <label class="form-label" for="name">Name</label>
      <input formControlName="name" id="name" type="text" class="form-input" />
      <!-- Expiry date -->
      <label class="form-label ml-2" for="date">Expiration Date</label>
      <input formControlName="date" id="date" type="date" class="form-input" />
    </div>

    <div class="form-row">
      <!-- Password -->
      <label class="form-label" for="password1">Password</label>
      <input formControlName="password1" id="password1" type="password" class="form-input" />
      <!-- Repeat password -->
      <label class="form-label ml-2" for="password2">Repeat Password</label>
      <input formControlName="password2" id="password2" type="password" class="form-input" />
    </div>

    <div class="form-row">
      <!-- Enabled -->
      <label class="form-label" for="enabled">Enabled</label>
      <input formControlName="enabled" id="enabled" type="checkbox" class="form-input" />
    </div>
    <div class="button-row">
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</article>
