.nav {
  display: flex;
  gap: 2rem;
  padding: 1em;
  background: darkblue;
}

.nav a {
  cursor: pointer;
  text-decoration: none;
  color: #bbb;
  font-size: 115%;
  &.active-link {
    color: white;
  }
}

main {
  margin: 1rem;
}
