/* ----- Global font and body margin -----*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  margin: 0;
}

/* ----- Custom utility classes -----*/
.ml-2 {
  margin-left: 2rem;
}

/* ----- Form elements -----*/
.form-row {
  margin-bottom: 0.5rem;
}

.button-row {
  margin-top: 1rem;
  margin-left: 9rem;
}

.form-label {
  text-align: right;
  padding-right: 1rem;
  display: inline-block;
  min-width: 8rem;
}

.form-input {
  height: 2rem;
  width: 10rem;
  padding: 0 0.5rem 0 0.5rem;
  border: 1px solid #e0ddd6;
  border-radius: 0.25rem;
}

.form-input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
  border: 1px solid #e0ddd6;
  border-radius: 0.25rem;
  vertical-align: middle;
}

.btn {
  /* Copied from DaisyUI, then simplified */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  height: 1.75rem;
  padding: 0 1rem 0 1rem;
  background-color: oklch(89.8% 0.01 83.66);
  color: oklch(24.24% 0.08 264.67);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration-line: none;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
}

.btn-primary {
  background-color: oklch(64.75% 0.196 259.72);
  border-color: oklch(64.75% 0.196 259.72);
  color: oklch(100% 0 0);
}

.btn:hover {
  background-color: oklch(61.2% 0.18 259.72);
  border-color: oklch(61.2% 0.18 259.72);
}
