<div [formGroup]="formGroup" class="mr-2 inline-block">
  <label class="form-label" [for]="formControlName">{{ label }}</label>
  <input
    [formControlName]="formControlName"
    [id]="formControlName"
    [type]="type"
    class="form-input"
    [value]="type === 'checkbox' ? undefined : value"
    [checked]="type === 'checkbox' ? value : undefined"
    (input)="onInput($event)"
    (blur)="onBlur()"
  />
  @if ( isValidField() ) {
  <div class="field-validation-error">
    {{ getFieldError() }}
  </div>
  }
</div>
